p {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    background-color: #fbf7e9;
    color: #363a47;
    padding: 1%;

}

body {
    margin: 0;
    margin-top: -5px
}

header {
    background-color: #fff1e7;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo-content {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    transform: translateY(-15%);
    z-index: 1;
}

.logo-text {
    font-family: 'Vidaloka', serif;
    color: #5f0f40;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    margin-left: 170px;
    z-index: -1;
}

.separator {
    height: 50px; 
    width: 1px; 
    background-color: #5f0f40; 
    margin: 0 20px; 
}


nav {
    display: flex;
    margin-left: auto;
    
}

nav.nav-top {
    display: flex;
}

nav.nav-top a {
    color: #5f0f40;
    padding: 1% 5%;
    text-decoration: none;
    font-family: 'Abril Fatface', serif;
    min-width: 140px;
}

nav a {
    color: #5f0f40;
    padding: 1% 5%;
    text-decoration: none;
    font-family: 'Abril Fatface', serif;
    min-width: 140px;
}

h1 {
    font-family: 'Elsie Swash Caps', serif;
    font-size: 100px;
    color: #9a031e;
    word-spacing: 10px;
    text-align: center;
    background-color: #FDE5D4;
    padding-bottom: 15px;
    padding-top: 15px;
}

h2 {
    font-family: 'Montagu Slab', serif;
    font-size: 30px;
    color: #e36414;
    text-align: center;
    margin-top: -85px;
    margin-bottom: -10px;
    background-color: #F8F8F8;
    padding: 20px;
}

h3 {
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    letter-spacing: 3px;
    color: #993d76;
    background-color: #FDE5D4;
    text-align: right;
    padding-bottom: .5%;
    padding-right: 20px;
    margin-bottom: -20px;
}

fieldset {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fbf7e9;
    margin-top: 20px;

}

label {
    color: #001524;
    font-size: 18px;
}



h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 5px;
    color: #445D48;
    text-align: right;
    margin-top: 1%;
    background-color: #D6CC99;

}

.servicios {
    display: flex;
    justify-content: space-evenly;
}

.items {
    color: #001524;
    background-color: #fbf7e9;
    margin: 1%;
    font-family: 'Heebo', sans-serif;
    padding: 2%;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33%;
    margin-top: 50px;

}

.item-description {
    background-color: rgb(253, 243, 208);
}

.read-more {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.show-description .read-more {
    opacity: 0;
    pointer-events: none;
}

.separator2 {
    height: 2px; 
    width: 500px; 
    background-color: #5f0f40; 
    margin: 0 20px; 
    margin-left: 35%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.logo-final {
    max-width: 500px;
    padding-left: 35%;
}

footer {
    padding-top: 2%;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    color: #5f0f40;
    background-color: #FDE5D4;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Abril Fatface', serif;
}

.items img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.toggle-button {
    background-color: #9a031e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.toggle-button:hover {
    background-color: #EE964B;
}

.item-description {
    display: none;
    transition: opacity 1s ease-in-out;
}
.show-description {
    display: block;
    opacity: 1;
}

@media screen and (max-width:600px) {

    nav,
    .servicios,
    .items,
    .nav-footer {
        flex-direction: column;
        align-items: center;
    }

    .items {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
        width: 90%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animated {
    animation: fadeIn 1.5s ease-out;
}

.animated2 {
    animation: fadeIn 1s ease-out;
}